In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import statistics
import numpy as np
import scipy.stats
import seaborn as sns

dataOriginal = pd.read_csv("panier.txt")
pd.set_option('display.max_rows', None)
n_data = dataOriginal.shape[0]
dataOriginal.head(5)

        ID\tProduct
0        1\tPeaches
1  2\tVegetable_Oil
2    2\tFrozen_Corn
3          3\tPlums
4    4\tPancake_Mix

In [5]:
dataOriginal.shape[0]

12935

In [7]:
dataOriginal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12935 entries, 0 to 12934
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID	Product  12935 non-null  object
dtypes: object(1)
memory usage: 101.2+ KB

In [11]:
dataOriginal['ID\tProduct'].unique().shape[0]

12935