# Techniques d'anonymisation

* Suppression d'attribut

In [1]:
import pandas as pd
df = pd.read_csv("data_patient.csv")
df

            patient reactif  resultat
0    Alain flouflou       A        79
1   Abdel flouclair       A        81
2  Annie clairclair       B        47

In [2]:
#supprimer la serie Patient sans toucher le data original

In [3]:
df_res = df.drop("patient", axis=1)
df_res

  reactif  resultat
0       A        79
1       A        81
2       B        47

In [4]:
#supprimer la serie Patient en modifiant le data original
df.drop("patient", axis=1, inplace=True)
df

  reactif  resultat
0       A        79
1       A        81
2       B        47

In [9]:
#sauvegarder le data
df.to_csv("data_patient_anonyme.csv",index=False)