# Techniques d'anonymisation

* Suppression d'enregistrement

In [1]:
import pandas as pd
df = pd.read_csv("adresse_patient.csv")
df

   patient id    age            adresse
0          45  21-35        rue du parc
1          83  40-60  rue des templiers
2         121  36-39      rue de minuit

In [2]:
#supprimer enregistrement 1 sans toucher le data original

In [3]:
df_res = df.drop([1], axis=0)
df_res

   patient id    age        adresse
0          45  21-35    rue du parc
2         121  36-39  rue de minuit

In [4]:
#supprimer la serie Patient en modifiant le data original
df_res = df.drop([1], axis=0, inplace=True)
df

   patient id    age        adresse
0          45  21-35    rue du parc
2         121  36-39  rue de minuit

In [5]:
# Récuperer tout le dataset sauf l'enregistrement en utilisant une valeur spécifique de condition

In [6]:
df_res =  df[  df["adresse"]  != "rue des templiers"]
df_res

   patient id    age        adresse
0          45  21-35    rue du parc
2         121  36-39  rue de minuit

In [9]:
# Récuperer tout le dataset sauf l'enregistrement en utilisant une valeur spécifique de condition
df = pd.read_csv("adresse_patient.csv")
df_res =  df[  df["patient id"]  != 45]
df_res

   patient id    age            adresse
1          83  40-60  rue des templiers
2         121  36-39      rue de minuit