# Techniques d'anonymisation

* Utilisation de pseudonyme à 1 niveau

In [23]:
import pandas as pd
df = pd.read_csv("reactif_patient.csv")
df

            patient reactif  resultat
0    Alain flouflou       A        79
1   Abdel flouclair       A        81
2  Annie clairclair       B        47

In [24]:
#Déclarer la table de correspondance
d = {'patient':['Alain flouflou','Abdel flouclair','Annie clairclair'],'pseudonyme':[7815,5314,4718]}
table_cor = pd.DataFrame(d)
table_cor

            patient  pseudonyme
0    Alain flouflou        7815
1   Abdel flouclair        5314
2  Annie clairclair        4718

In [25]:
#anonymiser en effectuant un merge
res = pd.merge(df, table_cor)

res

            patient reactif  resultat  pseudonyme
0    Alain flouflou       A        79        7815
1   Abdel flouclair       A        81        5314
2  Annie clairclair       B        47        4718

In [26]:
#anonymiser en effectuant un merge avec une suppression de la serie patient
res = pd.merge(df, table_cor).drop('patient', axis=1)
res

  reactif  resultat  pseudonyme
0       A        79        7815
1       A        81        5314
2       B        47        4718

In [27]:
#renommer la serie pseudonyme vers patient
res = res.rename(columns={'pseudonyme': 'patient'})
res

  reactif  resultat  patient
0       A        79     7815
1       A        81     5314
2       B        47     4718

In [28]:
# Réarranger les colonnes en mettant patient en premier
res = res[['patient', 'reactif', 'resultat']]
res

   patient reactif  resultat
0     7815       A        79
1     5314       A        81
2     4718       B        47

In [29]:
#sauvegarder le data transformé
res.to_csv("reactif_patient_anonyme.csv", index=False)