# AFDM

 - Author:  Ricardo Vallejo R.

# 1. téléchargez le contenu de la base de données et affichez son contenue

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import statistics
import numpy as np
import scipy.stats
import seaborn as sns

dataOriginal = pd.read_excel("Autos_Mixtes.xlsx")
pd.set_option('display.max_rows', None)
n_data = dataOriginal.shape[0]

dataOriginal

,Modele,puissance,longueur,hauteur,poids,CO2,origine,carburant,4X4
0,GOLF,75,421,149,1217,143,Europe,Diesel,non
1,CITRONC4,138,426,146,1381,142,France,Diesel,non
2,P607,204,491,145,1723,223,France,Diesel,non
3,VELSATIS,150,486,158,1735,188,France,Diesel,non
4,CITRONC2,61,367,147,932,141,France,Essence,non
5,CHRYS300,340,502,148,1835,291,Autres,Essence,non
6,AUDIA3,102,421,143,1205,168,Europe,Essence,non
7,OUTLAND,202,455,167,1595,237,Autres,Diesel,oui
8,PTCRUISER,223,429,154,1595,235,Autres,Essence,non
9,SANTA_FE,125,450,173,1757,197,Autres,Diesel,oui

# 2. Identifiez les données quantitatives et les données qualitatives

In [2]:
v_qualitative = ['origine', 'carburant', '4X4']
v_quantitative = ['puissance', 'longueur', 'hauteur', 'poids', 'CO2']

# 3. Effectuez la préparation des données quantitatives en vue d’une analyse factorielle

# Variables Quantitatives

In [3]:

Z1 = dataOriginal[v_quantitative]

In [4]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(Z1)
Z1_std = scaler.transform(Z1)
Z1_standarized = pd.DataFrame(Z1_std)
Z1_standarized = pd.DataFrame(Z1_std, columns=Z1.columns)
Z1_standarized.round(3)

   puissance  longueur  hauteur  poids    CO2
0     -1.103    -0.614   -0.419 -0.989 -1.127
1     -0.304    -0.485   -0.733 -0.411 -1.148
2      0.532     1.192   -0.838  0.795  0.558
3     -0.152     1.063    0.524  0.837 -0.179
4     -1.280    -2.007   -0.628 -1.993 -1.169
5      2.256     1.476   -0.524  1.189  1.990
6     -0.761    -0.614   -1.047 -1.031 -0.600
7      0.507     0.263    1.466  0.344  0.853
8      0.773    -0.408    0.105  0.344  0.811
9     -0.469     0.134    2.094  0.915  0.011

In [5]:
Z1_standarized.describe().round(3)

       puissance  longueur  hauteur   poids     CO2
count     10.000    10.000   10.000  10.000  10.000
mean      -0.000    -0.000   -0.000   0.000  -0.000
std        1.054     1.054    1.054   1.054   1.054
min       -1.280    -2.007   -1.047  -1.993  -1.169
25%       -0.688    -0.582   -0.707  -0.844  -0.995
50%       -0.228    -0.137   -0.471   0.344  -0.084
75%        0.526     0.863    0.419   0.826   0.748
max        2.256     1.476    2.094   1.189   1.990

# Variables Qualitatives

4. Représentez les données qualitatives sous la forme d’un tableau disjonctif (TDC) en vue d’une analyse factorielle.

In [6]:
dataX = dataOriginal[v_qualitative]
K_disj = pd.get_dummies(dataX,prefix='',prefix_sep='')

In [7]:
K_disj

   Autres  Europe  France  Diesel  Essence  non  oui
0       0       1       0       1        0    1    0
1       0       0       1       1        0    1    0
2       0       0       1       1        0    1    0
3       0       0       1       1        0    1    0
4       0       0       1       0        1    1    0
5       1       0       0       0        1    1    0
6       0       1       0       0        1    1    0
7       1       0       0       1        0    0    1
8       1       0       0       0        1    1    0
9       1       0       0       1        0    0    1

In [8]:
columnsx=K_disj.columns
columnsx

Index(['Autres', 'Europe', 'France', 'Diesel', 'Essence', 'non', 'oui'], dtype='object')

In [9]:
Nj = K_disj[columnsx].sum()
Nj.to_frame()

         0
Autres   4
Europe   2
France   4
Diesel   6
Essence  4
non      8
oui      2

In [10]:
N = dataOriginal.shape[0]
N

10

In [11]:
Pj = Nj / N
Pj.to_frame()

           0
Autres   0.4
Europe   0.2
France   0.4
Diesel   0.6
Essence  0.4
non      0.8
oui      0.2

# Normalisation variables qualitatives

5. Représentez une matrice sommaire des données

In [12]:
import math 

Z2 = pd.DataFrame(columns=K_disj.columns) 
for col in K_disj.columns:
    Z2[col] = K_disj[col] / math.sqrt(Pj[col])
Z2

     Autres    Europe    France    Diesel   Essence       non       oui
0  0.000000  2.236068  0.000000  1.290994  0.000000  1.118034  0.000000
1  0.000000  0.000000  1.581139  1.290994  0.000000  1.118034  0.000000
2  0.000000  0.000000  1.581139  1.290994  0.000000  1.118034  0.000000
3  0.000000  0.000000  1.581139  1.290994  0.000000  1.118034  0.000000
4  0.000000  0.000000  1.581139  0.000000  1.581139  1.118034  0.000000
5  1.581139  0.000000  0.000000  0.000000  1.581139  1.118034  0.000000
6  0.000000  2.236068  0.000000  0.000000  1.581139  1.118034  0.000000
7  1.581139  0.000000  0.000000  1.290994  0.000000  0.000000  2.236068
8  1.581139  0.000000  0.000000  0.000000  1.581139  1.118034  0.000000
9  1.581139  0.000000  0.000000  1.290994  0.000000  0.000000  2.236068

In [13]:
Z = pd.concat([Z1_standarized, Z2], axis=1).round(3)

In [14]:
Z

,puissance,longueur,hauteur,poids,CO2,Autres,Europe,France,Diesel,Essence,non,oui
0,-1.103,-0.614,-0.419,-0.989,-1.127,0.000,2.236,0.000,1.291,0.000,1.118,0.000
1,-0.304,-0.485,-0.733,-0.411,-1.148,0.000,0.000,1.581,1.291,0.000,1.118,0.000
2,0.532,1.192,-0.838,0.795,0.558,0.000,0.000,1.581,1.291,0.000,1.118,0.000
3,-0.152,1.063,0.524,0.837,-0.179,0.000,0.000,1.581,1.291,0.000,1.118,0.000
4,-1.280,-2.007,-0.628,-1.993,-1.169,0.000,0.000,1.581,0.000,1.581,1.118,0.000
5,2.256,1.476,-0.524,1.189,1.990,1.581,0.000,0.000,0.000,1.581,1.118,0.000
6,-0.761,-0.614,-1.047,-1.031,-0.600,0.000,2.236,0.000,0.000,1.581,1.118,0.000
7,0.507,0.263,1.466,0.344,0.853,1.581,0.000,0.000,1.291,0.000,0.000,2.236
8,0.773,-0.408,0.105,0.344,0.811,1.581,0.000,0.000,0.000,1.581,1.118,0.000
9,-0.469,0.134,2.094,0.915,0.011,1.581,0.000,0.000,1.291,0.000,0.000,2.236

# Analysis AFDM

In [27]:
from fanalysis.pca import PCA

afdm = PCA(std_unit=False, row_labels=dataOriginal.index, col_labels=[Z1.columns, Z2.columns])
afdm.fit(Z.values)

C:\Users\valm044\Anaconda3\lib\site-packages\scipy\stats\stats.py:3538: PearsonRNearConstantInputWarning: An input array is nearly constant; the computed correlation coefficent may be inaccurate.
  warnings.warn(PearsonRNearConstantInputWarning())

# Numero de facteurs a retenir

6. Faites une analyse du nombre de facteurs principaux à retenir. Justifiez votre raisonnement et les différentes étapes à 
réaliser

In [32]:
p = Z.shape[1] # All
p2 = len(v_qualitative) # Z2.shape[1] # Cualitatives
Fmax = p - p2  # numero de variables quantitatives es el max numero de valores propios
Fmax

9

In [30]:
p #No columnes of Z (normalised multitype)

12

In [33]:
p2 # No. variables qualitatives

3

In [34]:
print('Le numero maximo de facteur principaux est: ', Fmax)

Le numero maximo de facteur principaux est:  9

In [17]:
eig_vals, eig_vecs = np.linalg.eig(Z.drop(['Modele'], axis=1))

KeyError: "['Modele'] not found in axis"

In [18]:
# 7. Déterminez les valeurs propres de l’ensemble des données

In [19]:
# 8. Déterminez la contribution des variables aux 2 premiers axes factoriels. Commentez les résultats.

In [ ]:
# 9. Représentez graphiquement les variables et les individus sur le même graphique.