# Methode de Naive - Bayes

Author: Ricardo Vallejo

# Example 1:  Color Predictor

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import statistics
import numpy as np
import scipy.stats
import seaborn as sns

dataColor = pd.read_excel("nayes1.xlsx")
pd.set_option('display.max_rows', None)
dataColor

   ID  A  B  C  Cible
0   1  0  0  0   Vert
1   2  0  0  1  Rouge
2   3  0  1  1  Rouge
3   4  0  1  1  Rouge
4   5  0  0  1   Vert
5   6  1  0  1   Vert
6   7  1  0  1  Rouge
7   8  1  0  1  Rouge
8   9  1  1  1   Vert
9  10  1  0  1   Vert

# Calcules Manuelle

# Calculer les probabilites conditionels suivants

P(A=0)=5/10
P(A=1)=5/10
P(B=0)=7/10
P(B=1)=3/10
P(C=0)=1/10
P(C=1)=9/10

P(y=vert)=5/10
P(y=rouge)=5/10

P(A=0 | vert) = 2/5
P(B=1 | vert) = 1/5
P(C=0 | vert) = 1/5

P(A=0 | rouge) = 3/5
P(B=1 | rouge) = 2/5
P(C=0 | rouge) = 0/5

What is the target color if A=0 B=1 C=0 ?
========================================
P(y=vert | A=0, B=1, C=0) = P(A=0, B=1, C=0 | y=vert ) * P(y=vert) / ( P(A=0) P(B=1) P(C=0) )

                          = ( 2/5 * 1/5 * 1/5 ) * 5/10 / (5/10 * 3/10 * 1/10)
                          
                          =0,53
                          
            
P(y=red | A=0, B=1, C=0) = P(A=0, B=1, C=0 | y=red ) * P(y=red) / ( P(A=0) P(B=1) P(C=0) )

                          = ( 3/5 * 2/5 * 0 ) * 5/10 / (5/10 * 3/10 * 1/10)
                          
                          = 0
                          
Cest probable que ca va etre VERT.

In [3]:
features = ['A', 'B', 'C']
target = ['Cible']
X=dataColor[features]
y=dataColor[target]

In [7]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
gnb = GaussianNB()

#Train the model using the training sets
gnb.fit(X, y)

X_test = [[0, 1, 0]]

['Vert']

C:\Users\valm044\Anaconda3\lib\site-packages\sklearn\naive_bayes.py:206: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# Predicition

In [18]:

#Predict the response for test dataset
y_pred = gnb.predict(X_test)
print(y_pred)

['Vert']

In [19]:
print(gnb)

GaussianNB(priors=None, var_smoothing=1e-09)

# Exemple 2: Predire le GENRE

Celui-ci contient 8 instances. Les features sont au nombre de 3 et sont des valeurs numériques et le label de classe ou cible sera le genre de la personne.

In [11]:
data = pd.read_excel("nayves2.xlsx")
pd.set_option('display.max_rows', None)
data

      Genre  Taille (cm)  Poids (kg)  Pointure (cm)
0  masculin          182        81.6             30
1  masculin          180        86.2             28
2  masculin          170        77.1             30
3  masculin          180        74.8             25
4   féminin          152        45.4             15
5   féminin          168        68.0             20
6   féminin          165        59.0             18
7   féminin          175        68.0             23

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Genre          8 non-null      object
 1   Taille (cm)    8 non-null      int64
 2   Poids (kg)     8 non-null      float64
 3   Pointure (cm)  8 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 384.0+ bytes

In [13]:
features = ['Taille (cm)', 'Poids (kg)', 'Pointure (cm)']
target = ['Genre']

X=data[features]
y=data[target]

data.groupby(target).size()  # In order to know each class

Genre
féminin     4
masculin    4
dtype: int64

In [14]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X, y);

C:\Users\valm044\Anaconda3\lib\site-packages\sklearn\naive_bayes.py:206: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# Prediction

In [17]:
#Sexe Inconnu
#Taille (cm) 183
#Poids (kg) 59
#Pointure (cm) 20

Xtest = [[183, 59, 20]]
ypredicted = model.predict(Xtest)
ypredicted

array(['féminin'], dtype='<U8')