# TP - Transformation de donnes 
Ricardo Vallejo

# <font color="blue"> Étape 1 : </font>
On considère le fichier train_users_2.csv

## 1. Import Data

In [235]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.impute import SimpleImputer

In [236]:
data = pd.read_csv('train_users_2.csv')
data

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213446,zxodksqpep,2014-06-30,20140630235636,NaN,MALE,32.0,basic,0,en,sem-brand,google,omg,Web,Mac Desktop,Safari,NDF
213447,mhewnxesx9,2014-06-30,20140630235719,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome,NDF
213448,6o3arsjbb4,2014-06-30,20140630235754,NaN,-unknown-,32.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,NDF
213449,jh95kwisub,2014-06-30,20140630235822,NaN,-unknown-,NaN,basic,25,en,other,other,tracked-other,iOS,iPhone,Mobile Safari,NDF
213450,nw9fwlyb5f,2014-06-30,20140630235824,NaN,-unknown-,NaN,basic,25,en,direct,direct,untracked,iOS,iPhone,-unknown-,NDF

## 2. Responses

###   a) Quelles sont les descripteurs (colonnes) du dataset?

In [237]:
descripteurs = data.columns
descripteurs = pd.DataFrame(descripteurs)
descripteurs

                          0
0                        id
1      date_account_created
2    timestamp_first_active
3        date_first_booking
4                    gender
5                       age
6             signup_method
7               signup_flow
8                  language
9         affiliate_channel
10       affiliate_provider
11  first_affiliate_tracked
12               signup_app
13        first_device_type
14            first_browser
15      country_destination

### b) Combien d'enregistrements (lignes) ont été fournis ?

In [238]:
nrows = data.shape[0]
nrows

213451

### c)
●	Y a-t-il des valeurs manquantes?

●	Est-ce qu’il y’a des dépendances évidentes au niveau des descripteurs?

●	Quel est le format des données. Par exemple, dans quel format les dates sont fournies, existe-t-il des valeurs numériques, 
à quoi ressemblent les différentes valeurs catégorielles ?

In [239]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213451 entries, 0 to 213450
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       213451 non-null  object
 1   date_account_created     213451 non-null  object
 2   timestamp_first_active   213451 non-null  int64
 3   date_first_booking       88908 non-null   object
 4   gender                   213451 non-null  object
 5   age                      125461 non-null  float64
 6   signup_method            213451 non-null  object
 7   signup_flow              213451 non-null  int64
 8   language                 213451 non-null  object
 9   affiliate_channel        213451 non-null  object
 10  affiliate_provider       213451 non-null  object
 11  first_affiliate_tracked  207386 non-null  object
 12  signup_app               213451 non-null  object
 13  first_device_type        213451 non-null  object
 14  first_browser            213451 non-null  object
 15  country_destination      213451 non-null  object
dtypes: float64(1), int64(2), object(13)
memory usage: 26.1+ MB

In [240]:
responses = pd.read_excel('TP_response.xlsx', sheet_name='Response')
responses

,Descriptor,Format Original,Format Final,Type de donne,Valeur manquantes,Dependences,Descriptions,Traitement
0,id,object,String,-,NO,-,user id,Verify if there are repeated values because co...
1,date_account_created,object,Date,NaN,NO,-,the date of account creation,_ Convert String to date ...
2,timestamp_first_active,int64,DateTime,-,NO,-,"timestamp of the first activity, note that it ...",_ Convert String/Long to dateTime ...
3,date_first_booking,object,DateTime,-,OUI,-,date of first booking,_ Convert String/Long to dateTime ...
4,gender,object,String,-,NO,-,NaN,_Replace gender -unknown-??
5,age,float,Integer,Numerique,OUI,-,NaN,_ Convert Float to Integer ...
6,signup_method,object,Integer,Numerique,NO,-,NaN,"_ Identify donnes aberrantes, ..."
7,signup_flow,int64,Integer,Numerique,NO,-,the page a user came to signup up from,"_ Identify donnes aberrantes, ..."
8,language,object,String,Categorical,NO,-,international language preference,-Identify existente languages in the data ...
9,affiliate_channel,object,String,Categorical,NO,-,what kind of paid marketing,-Identify existente afiliate_channels in the ...
10,affiliate_provider,object,String,Categorical,NO,-,where the marketing is,-
11,first_affiliate_tracked,object,String,Categorical,OUI,-,whats the first marketing the user interacted ...,_ Convert Object to String ...
12,signup_app,object,String,Categorical,NO,-,NaN,_ Convert Object to String ...
13,first_device_type,object,String,Categorical,NO,-,NaN,_ Convert Object to String ...
14,first_browser,object,String,Categorical,NO,-,NaN,_ Convert Object to String ...
15,country_destination,object,String,TARGET,NO,NaN,this is the target variable you are to predict,_ Convert Object to String ...

# <font color="blue"> Étape 2 : </font>
On considère les fichiers train_users_2.csv and test_users.csv

●	Conversion de type/format
●	Remplacement de valeurs manquantes
●	Correction/Suppression de valeurs aberrantes/erronées
●	Correction/Standardisation/Normalisation de données

### <font color="red"> a) Id </font>

In [241]:
# There are not duplicated values in Id

boolean = data['id'].duplicated().any()
boolean

False

In [242]:
# Convert from object to String

dataFinal = data
dataFinal['id'] = dataFinal['id'].astype(str)
dataFinal

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213446,zxodksqpep,2014-06-30,20140630235636,NaN,MALE,32.0,basic,0,en,sem-brand,google,omg,Web,Mac Desktop,Safari,NDF
213447,mhewnxesx9,2014-06-30,20140630235719,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome,NDF
213448,6o3arsjbb4,2014-06-30,20140630235754,NaN,-unknown-,32.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,NDF
213449,jh95kwisub,2014-06-30,20140630235822,NaN,-unknown-,NaN,basic,25,en,other,other,tracked-other,iOS,iPhone,Mobile Safari,NDF
213450,nw9fwlyb5f,2014-06-30,20140630235824,NaN,-unknown-,NaN,basic,25,en,direct,direct,untracked,iOS,iPhone,-unknown-,NDF

In [243]:
# Detecting initial types and null values presence

dataFinal.info()  #TODO ID dont change to String ?????

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213451 entries, 0 to 213450
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       213451 non-null  object
 1   date_account_created     213451 non-null  object
 2   timestamp_first_active   213451 non-null  int64
 3   date_first_booking       88908 non-null   object
 4   gender                   213451 non-null  object
 5   age                      125461 non-null  float64
 6   signup_method            213451 non-null  object
 7   signup_flow              213451 non-null  int64
 8   language                 213451 non-null  object
 9   affiliate_channel        213451 non-null  object
 10  affiliate_provider       213451 non-null  object
 11  first_affiliate_tracked  207386 non-null  object
 12  signup_app               213451 non-null  object
 13  first_device_type        213451 non-null  object
 14  first_browser            213451 non-null  object
 15  country_destination      213451 non-null  object
dtypes: float64(1), int64(2), object(13)
memory usage: 26.1+ MB

In [244]:
# There are not Null values present
boolean = data['id'].isnull()
any(boolean) #To identify if any true

False

### <font color="red"> b) 'date_account_created' </font>

In [245]:
dataFinal['date_account_created'] =  pd.to_datetime(dataFinal['date_account_created'])
dataFinal.head(5)

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [246]:
dataFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213451 entries, 0 to 213450
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       213451 non-null  object
 1   date_account_created     213451 non-null  datetime64[ns]
 2   timestamp_first_active   213451 non-null  int64
 3   date_first_booking       88908 non-null   object
 4   gender                   213451 non-null  object
 5   age                      125461 non-null  float64
 6   signup_method            213451 non-null  object
 7   signup_flow              213451 non-null  int64
 8   language                 213451 non-null  object
 9   affiliate_channel        213451 non-null  object
 10  affiliate_provider       213451 non-null  object
 11  first_affiliate_tracked  207386 non-null  object
 12  signup_app               213451 non-null  object
 13  first_device_type        213451 non-null  object
 14  first_browser            213451 non-null  object
 15  country_destination      213451 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(12)
memory usage: 26.1+ MB

In [247]:
dataFinal['date_account_created'].describe()

<ipython-input-247-f7cf22fe714b>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  dataFinal['date_account_created'].describe()

count                  213451
unique                   1634
top       2014-05-13 00:00:00
freq                      674
first     2010-01-01 00:00:00
last      2014-06-30 00:00:00
Name: date_account_created, dtype: object

## <font color="red"> c)  timestamp_first_active </font>

### Convert objet to DateTime with correct format

In [248]:
dataFinal['timestamp_first_active']

0         20090319043255
1         20090523174809
2         20090609231247
3         20091031060129
4         20091208061105
               ...
213446    20140630235636
213447    20140630235719
213448    20140630235754
213449    20140630235822
213450    20140630235824
Name: timestamp_first_active, Length: 213451, dtype: int64

In [249]:
from datetime import datetime

dataFinal['timestamp_first_active'] = pd.to_datetime(dataFinal['timestamp_first_active'], format='%Y%m%d%H%M%S')
dataFinal.head(5)

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,2009-03-19 04:32:55,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,2009-05-23 17:48:09,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,2009-06-09 23:12:47,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,2009-10-31 06:01:29,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,2009-12-08 06:11:05,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [250]:
# Detection donnes aberrantes et validation de format

In [251]:
dataFinal['timestamp_first_active'].describe()

<ipython-input-251-0fcdf438e6dd>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  dataFinal['timestamp_first_active'].describe()

count                  213451
unique                 213451
top       2013-08-17 12:28:31
freq                        1
first     2009-03-19 04:32:55
last      2014-06-30 23:58:24
Name: timestamp_first_active, dtype: object

In [252]:
# Split

In [253]:
dataFinal['year_tfc'] = dataFinal['timestamp_first_active'].dt.year
dataFinal['month_tfc'] = dataFinal['timestamp_first_active'].dt.month
dataFinal['day_tfc'] = dataFinal['timestamp_first_active'].dt.day
dataFinal

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination,year_tfc,month_tfc,day_tfc
0,gxn3p5htnn,2010-06-28,2009-03-19 04:32:55,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF,2009,3,19
1,820tgsjxq7,2011-05-25,2009-05-23 17:48:09,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF,2009,5,23
2,4ft3gnwmtx,2010-09-28,2009-06-09 23:12:47,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US,2009,6,9
3,bjjt8pjhuk,2011-12-05,2009-10-31 06:01:29,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other,2009,10,31
4,87mebub9p4,2010-09-14,2009-12-08 06:11:05,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US,2009,12,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213446,zxodksqpep,2014-06-30,2014-06-30 23:56:36,NaN,MALE,32.0,basic,0,en,sem-brand,google,omg,Web,Mac Desktop,Safari,NDF,2014,6,30
213447,mhewnxesx9,2014-06-30,2014-06-30 23:57:19,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome,NDF,2014,6,30
213448,6o3arsjbb4,2014-06-30,2014-06-30 23:57:54,NaN,-unknown-,32.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,NDF,2014,6,30
213449,jh95kwisub,2014-06-30,2014-06-30 23:58:22,NaN,-unknown-,NaN,basic,25,en,other,other,tracked-other,iOS,iPhone,Mobile Safari,NDF,2014,6,30
213450,nw9fwlyb5f,2014-06-30,2014-06-30 23:58:24,NaN,-unknown-,NaN,basic,25,en,direct,direct,untracked,iOS,iPhone,-unknown-,NDF,2014,6,30

## <font color="red"> d) date_first_booking</font>

In [254]:
# Giving date format

dataFinal['date_first_booking'] = pd.to_datetime(dataFinal['date_first_booking'], format='%Y-%m-%d')
dataFinal

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination,year_tfc,month_tfc,day_tfc
0,gxn3p5htnn,2010-06-28,2009-03-19 04:32:55,NaT,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF,2009,3,19
1,820tgsjxq7,2011-05-25,2009-05-23 17:48:09,NaT,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF,2009,5,23
2,4ft3gnwmtx,2010-09-28,2009-06-09 23:12:47,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US,2009,6,9
3,bjjt8pjhuk,2011-12-05,2009-10-31 06:01:29,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other,2009,10,31
4,87mebub9p4,2010-09-14,2009-12-08 06:11:05,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US,2009,12,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213446,zxodksqpep,2014-06-30,2014-06-30 23:56:36,NaT,MALE,32.0,basic,0,en,sem-brand,google,omg,Web,Mac Desktop,Safari,NDF,2014,6,30
213447,mhewnxesx9,2014-06-30,2014-06-30 23:57:19,NaT,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome,NDF,2014,6,30
213448,6o3arsjbb4,2014-06-30,2014-06-30 23:57:54,NaT,-unknown-,32.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,NDF,2014,6,30
213449,jh95kwisub,2014-06-30,2014-06-30 23:58:22,NaT,-unknown-,NaN,basic,25,en,other,other,tracked-other,iOS,iPhone,Mobile Safari,NDF,2014,6,30
213450,nw9fwlyb5f,2014-06-30,2014-06-30 23:58:24,NaT,-unknown-,NaN,basic,25,en,direct,direct,untracked,iOS,iPhone,-unknown-,NDF,2014,6,30

In [257]:
# Fill null values with oldest.

dataFinal['date_first_booking'] = dataFinal['date_first_booking'].fillna(dataFinal['date_first_booking'].min()) 

#To assing min date because the oldest first booking has not promos and its possible.

dataFinal

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination,year_tfc,month_tfc,day_tfc,date_first_booking2
0,gxn3p5htnn,2010-06-28,2009-03-19 04:32:55,2010-01-02,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF,2009,3,19,2010-01-02
1,820tgsjxq7,2011-05-25,2009-05-23 17:48:09,2010-01-02,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF,2009,5,23,2010-01-02
2,4ft3gnwmtx,2010-09-28,2009-06-09 23:12:47,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US,2009,6,9,2010-08-02
3,bjjt8pjhuk,2011-12-05,2009-10-31 06:01:29,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other,2009,10,31,2012-09-08
4,87mebub9p4,2010-09-14,2009-12-08 06:11:05,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US,2009,12,8,2010-02-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213446,zxodksqpep,2014-06-30,2014-06-30 23:56:36,2010-01-02,MALE,32.0,basic,0,en,sem-brand,google,omg,Web,Mac Desktop,Safari,NDF,2014,6,30,2010-01-02
213447,mhewnxesx9,2014-06-30,2014-06-30 23:57:19,2010-01-02,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome,NDF,2014,6,30,2010-01-02
213448,6o3arsjbb4,2014-06-30,2014-06-30 23:57:54,2010-01-02,-unknown-,32.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,NDF,2014,6,30,2010-01-02
213449,jh95kwisub,2014-06-30,2014-06-30 23:58:22,2010-01-02,-unknown-,NaN,basic,25,en,other,other,tracked-other,iOS,iPhone,Mobile Safari,NDF,2014,6,30,2010-01-02
213450,nw9fwlyb5f,2014-06-30,2014-06-30 23:58:24,2010-01-02,-unknown-,NaN,basic,25,en,direct,direct,untracked,iOS,iPhone,-unknown-,NDF,2014,6,30,2010-01-02

In [ ]:
# Detect outliers data

In [258]:
dataFinal['date_first_booking'].describe()

<ipython-input-258-2b6d64f075af>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  dataFinal['date_first_booking'].describe()

count                  213451
unique                   1976
top       2010-01-02 00:00:00
freq                   124544
first     2010-01-02 00:00:00
last      2015-06-29 00:00:00
Name: date_first_booking, dtype: object