<h1>Tables des matières<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Techniques-d'anonymisation" data-toc-modified-id="Techniques-d'anonymisation-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Techniques d'anonymisation</a></span></li></ul></div>

# Techniques d'anonymisation

* Maskage de valeurs d'attribut

In [5]:
import pandas as pd
df = pd.read_csv("data_livraison.csv")
df

      code periode livraison  nombre colis
0  H1X 3S7           10H-12H             3
1  H2Y 4O3           12H-17H             4
2  H1W 5P5           17H-20H             1

In [6]:
#masker le code postal sur 2 digits

In [7]:
df.code = df.code.map(lambda x: x[0:2] +"* ***")

#df["code postal"] = df["code postal"].replace(to_replace ='[H]', value = '* ***', regex = True)

df

      code periode livraison  nombre colis
0  H1* ***           10H-12H             3
1  H2* ***           12H-17H             4
2  H1* ***           17H-20H             1