# Examen Final - supervisee

Ricardo Vallejo

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import statistics
import numpy as np
import scipy.stats
import seaborn as sns

data = pd.read_csv("resultat_mecanique.csv", sep=';')
pd.set_option('display.max_rows', None)
data

    Aptitude  Precision rapidité  Performance
0         40         25    Elevé            1
1         45         20    Elevé            2
2         38         30  Moyenne            1
3         50         30   Faible            3
4         48         28   Faible            2
5         55         30    Elevé            3
6         53         34   Faible            3
7         55         36   Faible            4
8         58         32    Elevé            4
9         40         34  Moyenne            3
10        55         38  Moyenne            5
11        48         28   Faible            3
12        45         30    Elevé            3
13        55         36  Moyenne            2
14        60         34   Faible            4
15        60         38    Elevé            5
16        60         42   Faible            5
17        65         38    Elevé            5
18        50         34   Faible            4
19        58         38    Elevé            3