## Grouping and Summarizing Data by Categories

In [1]:
import pandas as pd

In [2]:
uni=pd.read_csv("cwurData.csv")

In [3]:
uni.head(5)

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012

In [4]:
groupdf=uni.groupby('country') #group the data according to country

In [5]:
groupdf.describe() #all stats

                     alumni_employment                                         \
                                 count        mean         std    min     25%
country
Argentina                          7.0  498.428571   33.450746  476.0  477.50
Australia                         58.0  383.551724  161.906099   70.0  275.50
Austria                           24.0  435.833333  114.702135  160.0  376.75
Belgium                           20.0  372.650000  146.447862  110.0  267.75
Brazil                            36.0  442.055556  142.307302   70.0  422.25
Bulgaria                           2.0  522.500000   62.932504  478.0  500.25
Canada                            72.0  289.583333  184.739310   32.0  109.00
Chile                              8.0  367.875000  174.434955  139.0  240.50
China                            167.0  401.443114  153.979055   35.0  292.50
Colombia                           4.0  237.000000   79.787217  150.0  179.25
Croatia                            2.0  522.500000   62.932504  478.0  500.25
Cyprus                             2.0  522.500000   62.932504  478.0  500.25
Czech Republic                    10.0  521.800000   46.216399  478.0  478.00
Denmark                           12.0  308.583333  181.326154  101.0  147.50
Egypt                              8.0  509.500000   47.440188  469.0  476.75
Estonia                            2.0  522.500000   62.932504  478.0  500.25
Finland                           20.0  367.750000  165.927338  101.0  232.25
France                           109.0  428.550459  171.804232    3.0  431.00
Germany                          115.0  406.591304  155.429563  101.0  279.50
Greece                            14.0  479.714286  117.208840  200.0  478.00
Hong Kong                         12.0  352.750000  167.681042  116.0  183.25
Hungary                           12.0  522.500000   46.478734  478.0  478.00
Iceland                            2.0  522.500000   62.932504  478.0  500.25
India                             31.0  349.129032  169.450827   57.0  209.00
Iran                              16.0  522.500000   45.959402  478.0  478.00
Ireland                           16.0  401.000000  183.586129   68.0  314.75
Israel                            22.0  248.272727  170.633604   89.0  101.00
Italy                             96.0  478.677083  103.678399  101.0  478.00
Japan                            159.0  383.729560  185.174249    3.0  281.00
Lebanon                            2.0  226.000000   29.698485  205.0  215.50
Lithuania                          2.0  522.500000   62.932504  478.0  500.25
Malaysia                           6.0  390.500000  208.457909  115.0  223.00
Mexico                             4.0  517.250000   46.125734  478.0  478.00
Netherlands                       29.0  315.206897  157.933842   46.0  193.00
New Zealand                       12.0  342.833333  126.874909  154.0  216.00
Norway                            12.0  347.583333  193.961786  101.0  152.00
Poland                            18.0  478.666667  101.659755  197.0  478.00
Portugal                          14.0  493.642857   70.815695  316.0  478.00
Puerto Rico                        2.0  522.500000   62.932504  478.0  500.25
Romania                            3.0  537.333333   51.384174  478.0  522.50
Russia                             9.0  312.888889  183.492128  101.0  175.00
Saudi Arabia                       8.0  342.875000  164.940195  133.0  218.00
Serbia                             2.0  522.500000   62.932504  478.0  500.25
Singapore                          5.0  268.600000  233.906605   98.0   99.00
Slovak Republic                    2.0  522.500000   62.932504  478.0  500.25
Slovenia                           4.0  522.500000   51.384174  478.0  478.00
South Africa                      10.0  127.100000   80.423117   29.0   64.50
South Korea                       72.0  406.736111  174.687890    9.0  385.50
Spain                             81.0  469.901235  122.920259   55.0  478.00
Sweden                            24.0  327.416667  183.012928   26.0  159.25
Switzerland                       26.0  231.730769  168.706030   30.0  101.00
Taiwan                            46.0  421.826087  155.189247   24.0  367.00
Thailand                           6.0  363.500000  242.492680   51.0  162.25
Turkey                            20.0  429.150000  130.210063   79.0  387.50
USA                              573.0  257.514834  196.649119    1.0   84.00
Uganda                             2.0  522.500000   62.932504  478.0  500.25
United Arab Emirates               2.0  499.500000   30.405592  478.0  488.75
United Kingdom                   144.0  306.284722  178.744169   10.0  125.75
Uruguay                            2.0  522.500000   62.932504  478.0  500.25

                                           broad_impact               ...    \
                        50%     75%    max        count        mean   ...
country                                                               ...
Argentina             478.0  506.50  567.0          7.0  683.285714   ...
Australia             454.5  478.00  567.0         54.0  496.277778   ...
Austria               465.5  500.25  567.0         24.0  498.666667   ...
Belgium               334.5  478.00  567.0         20.0  337.450000   ...
Brazil                478.0  549.75  567.0         36.0  736.500000   ...
Bulgaria              522.5  544.75  567.0          2.0  807.500000   ...
Canada                274.0  478.00  567.0         65.0  424.261538   ...
Chile                 378.0  500.25  567.0          8.0  625.750000   ...
China                 478.0  482.00  567.0        167.0  707.514970   ...
Colombia              243.0  300.75  312.0          4.0  924.750000   ...
Croatia               522.5  544.75  567.0          2.0  465.500000   ...
Cyprus                522.5  544.75  567.0          2.0  904.500000   ...
Czech Republic        519.0  567.00  567.0         10.0  633.500000   ...
Denmark               286.0  478.00  567.0         10.0  235.200000   ...
Egypt                 478.0  566.25  567.0          8.0  913.875000   ...
Estonia               522.5  544.75  567.0          2.0  476.500000   ...
Finland               423.5  489.75  567.0         18.0  434.277778   ...
France                478.0  567.00  567.0         99.0  545.272727   ...
Germany               478.0  527.00  567.0        110.0  347.390909   ...
Greece                478.0  567.00  567.0         14.0  525.000000   ...
Hong Kong             418.5  478.25  567.0         12.0  322.833333   ...
Hungary               522.5  567.00  567.0         12.0  636.166667   ...
Iceland               522.5  544.75  567.0          2.0  389.000000   ...
India                 346.0  478.00  567.0         31.0  711.903226   ...
Iran                  522.5  567.00  567.0         16.0  865.625000   ...
Ireland               478.0  538.50  567.0         16.0  573.625000   ...
Israel                172.0  387.00  567.0         14.0  315.357143   ...
Italy                 478.0  567.00  567.0         94.0  436.106383   ...
Japan                 478.0  567.00  567.0        148.0  563.391892   ...
Lebanon               226.0  236.50  247.0          2.0  864.500000   ...
Lithuania             522.5  544.75  567.0          2.0  742.000000   ...
Malaysia              478.0  544.75  567.0          6.0  851.000000   ...
Mexico                512.0  551.25  567.0          4.0  538.250000   ...
Netherlands           315.0  478.00  567.0         26.0  193.346154   ...
New Zealand           374.5  449.75  496.0         12.0  555.416667   ...
Norway                382.0  500.25  567.0         10.0  354.900000   ...
Poland                478.0  565.75  567.0         18.0  757.500000   ...
Portugal              478.0  567.00  567.0         14.0  535.071429   ...
Puerto Rico           522.5  544.75  567.0          2.0  938.500000   ...
Romania               567.0  567.00  567.0          3.0  956.666667   ...
Russia                250.0  478.00  567.0          8.0  733.875000   ...
Saudi Arabia          341.5  472.00  567.0          8.0  951.875000   ...
Serbia                522.5  544.75  567.0          2.0  757.500000   ...
Singapore             101.0  478.00  567.0          4.0  161.750000   ...
Slovak Republic       522.5  544.75  567.0          2.0  609.000000   ...
Slovenia              522.5  567.00  567.0          4.0  610.000000   ...
South Africa          134.0  163.75  262.0         10.0  503.800000   ...
South Korea           478.0  567.00  567.0         70.0  631.085714   ...
Spain                 478.0  567.00  567.0         81.0  615.037037   ...
Sweden                326.5  478.00  567.0         22.0  237.772727   ...
Switzerland           171.0  382.50  567.0         18.0  219.166667   ...
Taiwan                478.0  509.50  567.0         46.0  724.739130   ...
Thailand              478.0  532.00  567.0          6.0  597.666667   ...
Turkey                476.5  478.00  567.0         20.0  729.450000   ...
USA                   208.0  478.00  567.0        458.0  348.262009   ...
Uganda                522.5  544.75  567.0          2.0  820.500000   ...
United Arab Emirates  499.5  510.25  521.0          2.0  901.500000   ...
United Kingdom        332.5  478.00  567.0        129.0  403.472868   ...
Uruguay               522.5  544.75  567.0          2.0  849.000000   ...

                     world_rank           year                                 \
                            75%     max  count         mean       std     min
country
Argentina                915.00   978.0    7.0  2014.428571  0.534522  2014.0
Australia                714.25   942.0   58.0  2014.362069  0.718143  2012.0
Austria                  717.50   880.0   24.0  2014.500000  0.510754  2014.0
Belgium                  632.50   764.0   20.0  2014.500000  0.512989  2014.0
Brazil                   939.25   998.0   36.0  2014.500000  0.507093  2014.0
Bulgaria                 840.25   845.0    2.0  2014.500000  0.707107  2014.0
Canada                   651.00   994.0   72.0  2014.319444  0.765937  2012.0
Chile                    843.75   971.0    8.0  2014.500000  0.534522  2014.0
China                    938.00  1000.0  167.0  2014.497006  0.501495  2014.0
Colombia                 917.75   968.0    4.0  2014.500000  0.577350  2014.0
Croatia                  560.75   564.0    2.0  2014.500000  0.707107  2014.0
Cyprus                   946.75   953.0    2.0  2014.500000  0.707107  2014.0
Czech Republic           795.75   980.0   10.0  2014.500000  0.527046  2014.0
Denmark                  353.00   593.0   12.0  2014.166667  0.937437  2012.0
Egypt                    970.75   997.0    8.0  2014.500000  0.534522  2014.0
Estonia                  551.25   556.0    2.0  2014.500000  0.707107  2014.0
Finland                  552.25   735.0   20.0  2014.300000  0.801315  2012.0
France                   769.00   995.0  109.0  2014.311927  0.766150  2012.0
Germany                  512.50   966.0  115.0  2014.408696  0.660883  2012.0
Greece                   646.25   926.0   14.0  2014.500000  0.518875  2014.0
Hong Kong                376.50   678.0   12.0  2014.500000  0.522233  2014.0
Hungary                  813.00   892.0   12.0  2014.500000  0.522233  2014.0
Iceland                  502.25   516.0    2.0  2014.500000  0.707107  2014.0
India                    777.00   925.0   31.0  2014.516129  0.508001  2014.0
Iran                     956.50   993.0   16.0  2014.500000  0.516398  2014.0
Ireland                  825.75   981.0   16.0  2014.500000  0.516398  2014.0
Israel                   295.75   700.0   22.0  2013.772727  1.109776  2012.0
Italy                    676.00   927.0   96.0  2014.458333  0.578868  2012.0
Japan                    761.00   970.0  159.0  2014.364780  0.706403  2012.0
Lebanon                  651.75   682.0    2.0  2014.500000  0.707107  2014.0
Lithuania                826.25   838.0    2.0  2014.500000  0.707107  2014.0
Malaysia                 582.00   778.0    6.0  2014.500000  0.547723  2014.0
Mexico                   762.75   786.0    4.0  2014.500000  0.577350  2014.0
Netherlands              276.00   689.0   29.0  2014.275862  0.840771  2012.0
New Zealand              635.50   937.0   12.0  2014.500000  0.522233  2014.0
Norway                   534.75   794.0   12.0  2014.166667  0.937437  2012.0
Poland                   920.25   964.0   18.0  2014.500000  0.514496  2014.0
Portugal                 631.25   996.0   14.0  2014.500000  0.518875  2014.0
Puerto Rico              973.25   977.0    2.0  2014.500000  0.707107  2014.0
Romania                  986.50   987.0    3.0  2014.666667  0.577350  2014.0
Russia                   755.00   985.0    9.0  2014.444444  0.726483  2013.0
Saudi Arabia             883.25   995.0    8.0  2014.500000  0.534522  2014.0
Serbia                   788.25   809.0    2.0  2014.500000  0.707107  2014.0
Singapore                135.00   148.0    5.0  2014.200000  0.836660  2013.0
Slovak Republic          720.25   732.0    2.0  2014.500000  0.707107  2014.0
Slovenia                 824.75   839.0    4.0  2014.500000  0.577350  2014.0
South Africa             473.25   678.0   10.0  2014.500000  0.527046  2014.0
South Korea              807.50   973.0   72.0  2014.458333  0.603686  2012.0
Spain                    814.00   999.0   81.0  2014.493827  0.503077  2014.0
Sweden                   365.00   656.0   24.0  2014.333333  0.761387  2012.0
Switzerland              192.00   758.0   26.0  2013.884615  1.070586  2012.0
Taiwan                   942.50   997.0   46.0  2014.456522  0.503610  2014.0
Thailand                 751.00   871.0    6.0  2014.500000  0.547723  2014.0
Turkey                   853.00   954.0   20.0  2014.500000  0.512989  2014.0
USA                      489.00   969.0  573.0  2014.097731  0.946587  2012.0
Uganda                   885.50   891.0    2.0  2014.500000  0.707107  2014.0
United Arab Emirates     943.50   950.0    2.0  2014.500000  0.707107  2014.0
United Kingdom           630.25   938.0  144.0  2014.291667  0.801005  2012.0
Uruguay                  916.50   933.0    2.0  2014.500000  0.707107  2014.0


                          25%     50%      75%     max
country
Argentina             2014.00  2014.0  2015.00  2015.0
Australia             2014.00  2014.0  2015.00  2015.0
Austria               2014.00  2014.5  2015.00  2015.0
Belgium               2014.00  2014.5  2015.00  2015.0
Brazil                2014.00  2014.5  2015.00  2015.0
Bulgaria              2014.25  2014.5  2014.75  2015.0
Canada                2014.00  2014.0  2015.00  2015.0
Chile                 2014.00  2014.5  2015.00  2015.0
China                 2014.00  2014.0  2015.00  2015.0
Colombia              2014.00  2014.5  2015.00  2015.0
Croatia               2014.25  2014.5  2014.75  2015.0
Cyprus                2014.25  2014.5  2014.75  2015.0
Czech Republic        2014.00  2014.5  2015.00  2015.0
Denmark               2014.00  2014.0  2015.00  2015.0
Egypt                 2014.00  2014.5  2015.00  2015.0
Estonia               2014.25  2014.5  2014.75  2015.0
Finland               2014.00  2014.0  2015.00  2015.0
France                2014.00  2014.0  2015.00  2015.0
Germany               2014.00  2014.0  2015.00  2015.0
Greece                2014.00  2014.5  2015.00  2015.0
Hong Kong             2014.00  2014.5  2015.00  2015.0
Hungary               2014.00  2014.5  2015.00  2015.0
Iceland               2014.25  2014.5  2014.75  2015.0
India                 2014.00  2015.0  2015.00  2015.0
Iran                  2014.00  2014.5  2015.00  2015.0
Ireland               2014.00  2014.5  2015.00  2015.0
Israel                2013.00  2014.0  2015.00  2015.0
Italy                 2014.00  2014.0  2015.00  2015.0
Japan                 2014.00  2014.0  2015.00  2015.0
Lebanon               2014.25  2014.5  2014.75  2015.0
Lithuania             2014.25  2014.5  2014.75  2015.0
Malaysia              2014.00  2014.5  2015.00  2015.0
Mexico                2014.00  2014.5  2015.00  2015.0
Netherlands           2014.00  2014.0  2015.00  2015.0
New Zealand           2014.00  2014.5  2015.00  2015.0
Norway                2014.00  2014.0  2015.00  2015.0
Poland                2014.00  2014.5  2015.00  2015.0
Portugal              2014.00  2014.5  2015.00  2015.0
Puerto Rico           2014.25  2014.5  2014.75  2015.0
Romania               2014.50  2015.0  2015.00  2015.0
Russia                2014.00  2015.0  2015.00  2015.0
Saudi Arabia          2014.00  2014.5  2015.00  2015.0
Serbia                2014.25  2014.5  2014.75  2015.0
Singapore             2014.00  2014.0  2015.00  2015.0
Slovak Republic       2014.25  2014.5  2014.75  2015.0
Slovenia              2014.00  2014.5  2015.00  2015.0
South Africa          2014.00  2014.5  2015.00  2015.0
South Korea           2014.00  2014.5  2015.00  2015.0
Spain                 2014.00  2014.0  2015.00  2015.0
Sweden                2014.00  2014.0  2015.00  2015.0
Switzerland           2013.00  2014.0  2015.00  2015.0
Taiwan                2014.00  2014.0  2015.00  2015.0
Thailand              2014.00  2014.5  2015.00  2015.0
Turkey                2014.00  2014.5  2015.00  2015.0
USA                   2014.00  2014.0  2015.00  2015.0
Uganda                2014.25  2014.5  2014.75  2015.0
United Arab Emirates  2014.25  2014.5  2014.75  2015.0
United Kingdom        2014.00  2014.0  2015.00  2015.0
Uruguay               2014.25  2014.5  2014.75  2015.0

[59 rows x 96 columns]

In [6]:
g1 = uni.groupby( [ "country", "influence"] ).count() #count statistics on basis of country and influence

In [7]:
x=pd.DataFrame(groupdf.size().reset_index(name = "InfluenceAggregate")) #aggregate country wise influence

In [8]:
x.head(7)

     country  InfluenceAggregate
0  Argentina                   7
1  Australia                  58
2    Austria                  24
3    Belgium                  20
4     Brazil                  36
5   Bulgaria                   2
6     Canada                  72

In [9]:
r=pd.read_csv("rainfall1901_2015.csv")

In [10]:
r.head(6)

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8
5,ANDAMAN & NICOBAR ISLANDS,1906,36.6,0.0,0.0,0.0,556.1,733.3,247.7,320.5,164.3,267.8,128.9,79.2,2534.4,36.6,556.1,1465.8,475.9

In [11]:
m1=r.groupby(['SUBDIVISION']).mean() #average rainfall for the different sub-divisions in India

In [12]:
m1.head(7)

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
SUBDIVISION,,,,,,,,,,,,,,,,,,
ANDAMAN & NICOBAR ISLANDS,1958.918182,52.637273,27.994545,31.824074,72.223148,357.056881,471.580556,400.042593,400.047222,439.482243,290.264815,233.744444,153.144860,2927.439423,80.632727,462.249533,1706.687850,675.416822
ARUNACHAL PRADESH,1965.824742,47.297917,91.116667,153.527368,263.836082,358.522680,647.373958,694.544792,495.229897,432.134021,194.686316,35.696842,24.502105,3418.857143,138.416667,777.686316,2271.422105,254.513830
ASSAM & MEGHALAYA,1958.000000,16.974783,31.441739,79.026957,203.115652,341.539130,510.161739,495.102609,404.593043,310.734783,152.118261,26.938261,8.951304,2580.695652,48.413043,623.687826,1720.590435,188.015652
BIHAR,1958.000000,13.386087,14.393913,10.124348,16.918261,53.081739,174.315652,324.441739,299.643478,217.384348,63.074783,7.178261,3.694783,1197.633913,27.776522,80.126957,1015.786087,73.953913
CHHATTISGARH,1958.000000,14.206957,19.259130,15.266957,16.773043,21.048696,198.266087,398.577391,389.873043,217.780000,63.660000,11.772174,5.248696,1371.728696,33.462609,53.092174,1204.500870,80.674783
COASTAL ANDHRA PRADESH,1958.000000,7.483478,12.923478,13.221739,26.740870,62.549565,123.693913,173.824348,175.923478,181.707826,185.511304,77.903478,11.420000,1052.904348,20.404348,102.515652,655.141739,274.835652
COASTAL KARNATAKA,1958.000000,1.937719,1.518261,6.357391,30.916522,122.787826,841.326087,1127.028696,713.618261,299.652174,184.552174,63.607826,12.613913,3408.409649,3.371053,160.051304,2981.618261,260.775652

In [13]:
m2=r.groupby(['SUBDIVISION','ANNUAL']).mean() #average ANNUAL rainfall for the different sub-divisions in India

In [14]:
m2.head(10)

                                    YEAR   JAN   FEB    MAR   APR    MAY  \
SUBDIVISION               ANNUAL
ANDAMAN & NICOBAR ISLANDS 1849.4  1979.0  35.5   9.4    3.9  64.8  146.3
                          2098.7  1992.0  75.9  10.9    0.0   5.1  241.7
                          2183.4  1990.0  13.4   0.2   24.6  87.5  424.6
                          2187.8  1986.0  14.8   0.6    1.5   8.2  302.6
                          2237.4  1993.0  14.9   0.0  129.9  43.7  181.4
                          2352.1  1919.0  10.2  18.0    0.0  35.5  283.9
                          2355.9  2003.0  44.3   7.9  149.2  19.4  296.3
                          2357.7  1931.0  25.3   0.0    2.5   2.5  205.4
                          2365.8  1913.0  84.8   0.5    1.3   2.5  190.7
                          2384.5  1982.0   8.8   2.8    6.6  97.5  229.2

                                    JUN    JUL    AUG    SEP    OCT    NOV  \
SUBDIVISION               ANNUAL
ANDAMAN & NICOBAR ISLANDS 1849.4  282.8  455.9  173.6  330.2  163.5  169.8
                          2098.7  392.0  348.2  372.3  323.7  257.3   64.3
                          2183.4  291.0  213.2  293.3  310.4  133.6  291.1
                          2187.8  312.2  308.5  444.0  408.9  176.1  163.5
                          2237.4  257.1  391.7  226.7  437.0  299.3  189.0
                          2352.1  542.5  246.5  259.8  170.7  186.2  340.4
                          2355.9  159.9  494.9  379.4  371.9  310.4   74.1
                          2357.7  393.5  289.3  571.0  294.4  368.3   22.8
                          2365.8  530.0  280.8  205.8  580.1  288.8  133.0
                          2384.5  448.7  410.5  347.6  369.0  164.5  238.8

                                    DEC  Jan-Feb  Mar-May  Jun-Sep  Oct-Dec
SUBDIVISION               ANNUAL
ANDAMAN & NICOBAR ISLANDS 1849.4   13.6     44.9    215.0   1242.5    347.0
                          2098.7    7.2     86.8    246.8   1436.2    328.8
                          2183.4  100.3     13.6    536.8   1108.0    525.1
                          2187.8   47.0     15.4    312.3   1473.6    386.5
                          2237.4   66.7     14.9    355.0   1312.5    555.0
                          2352.1  258.4     28.2    319.4   1219.5    785.0
                          2355.9   48.0     52.2    465.0   1406.1    432.5
                          2357.7  182.7     25.3    210.4   1548.2    573.8
                          2365.8   67.5     85.3    194.5   1596.7    489.3
                          2384.5   60.5     11.6    333.3   1575.8    463.8

In [15]:
m3=r.groupby(['SUBDIVISION','ANNUAL','YEAR']).mean()

In [16]:
m3.head(6)

                                        JAN   FEB    MAR   APR    MAY    JUN  \
SUBDIVISION               ANNUAL YEAR
ANDAMAN & NICOBAR ISLANDS 1849.4 1979  35.5   9.4    3.9  64.8  146.3  282.8
                          2098.7 1992  75.9  10.9    0.0   5.1  241.7  392.0
                          2183.4 1990  13.4   0.2   24.6  87.5  424.6  291.0
                          2187.8 1986  14.8   0.6    1.5   8.2  302.6  312.2
                          2237.4 1993  14.9   0.0  129.9  43.7  181.4  257.1
                          2352.1 1919  10.2  18.0    0.0  35.5  283.9  542.5

                                         JUL    AUG    SEP    OCT    NOV  \
SUBDIVISION               ANNUAL YEAR
ANDAMAN & NICOBAR ISLANDS 1849.4 1979  455.9  173.6  330.2  163.5  169.8
                          2098.7 1992  348.2  372.3  323.7  257.3   64.3
                          2183.4 1990  213.2  293.3  310.4  133.6  291.1
                          2187.8 1986  308.5  444.0  408.9  176.1  163.5
                          2237.4 1993  391.7  226.7  437.0  299.3  189.0
                          2352.1 1919  246.5  259.8  170.7  186.2  340.4

                                         DEC  Jan-Feb  Mar-May  Jun-Sep  \
SUBDIVISION               ANNUAL YEAR
ANDAMAN & NICOBAR ISLANDS 1849.4 1979   13.6     44.9    215.0   1242.5
                          2098.7 1992    7.2     86.8    246.8   1436.2
                          2183.4 1990  100.3     13.6    536.8   1108.0
                          2187.8 1986   47.0     15.4    312.3   1473.6
                          2237.4 1993   66.7     14.9    355.0   1312.5
                          2352.1 1919  258.4     28.2    319.4   1219.5

                                       Oct-Dec
SUBDIVISION               ANNUAL YEAR
ANDAMAN & NICOBAR ISLANDS 1849.4 1979    347.0
                          2098.7 1992    328.8
                          2183.4 1990    525.1
                          2187.8 1986    386.5
                          2237.4 1993    555.0
                          2352.1 1919    785.0

#### all statistics

In [17]:
m4=r.groupby(['SUBDIVISION','ANNUAL','YEAR']).describe()

In [18]:
m4.head(6)

                                        APR                                    \
                                      count  mean std   min   25%   50%   75%
SUBDIVISION               ANNUAL YEAR
ANDAMAN & NICOBAR ISLANDS 1849.4 1979   1.0  64.8 NaN  64.8  64.8  64.8  64.8
                          2098.7 1992   1.0   5.1 NaN   5.1   5.1   5.1   5.1
                          2183.4 1990   1.0  87.5 NaN  87.5  87.5  87.5  87.5
                          2187.8 1986   1.0   8.2 NaN   8.2   8.2   8.2   8.2
                          2237.4 1993   1.0  43.7 NaN  43.7  43.7  43.7  43.7
                          2352.1 1919   1.0  35.5 NaN  35.5  35.5  35.5  35.5

                                              AUG         ...   Oct-Dec  \
                                        max count   mean  ...       75%
SUBDIVISION               ANNUAL YEAR                     ...
ANDAMAN & NICOBAR ISLANDS 1849.4 1979  64.8   1.0  173.6  ...     347.0
                          2098.7 1992   5.1   1.0  372.3  ...     328.8
                          2183.4 1990  87.5   1.0  293.3  ...     525.1
                          2187.8 1986   8.2   1.0  444.0  ...     386.5
                          2237.4 1993  43.7   1.0  226.7  ...     555.0
                          2352.1 1919  35.5   1.0  259.8  ...     785.0

                                               SEP                           \
                                         max count   mean std    min    25%
SUBDIVISION               ANNUAL YEAR
ANDAMAN & NICOBAR ISLANDS 1849.4 1979  347.0   1.0  330.2 NaN  330.2  330.2
                          2098.7 1992  328.8   1.0  323.7 NaN  323.7  323.7
                          2183.4 1990  525.1   1.0  310.4 NaN  310.4  310.4
                          2187.8 1986  386.5   1.0  408.9 NaN  408.9  408.9
                          2237.4 1993  555.0   1.0  437.0 NaN  437.0  437.0
                          2352.1 1919  785.0   1.0  170.7 NaN  170.7  170.7


                                         50%    75%    max
SUBDIVISION               ANNUAL YEAR
ANDAMAN & NICOBAR ISLANDS 1849.4 1979  330.2  330.2  330.2
                          2098.7 1992  323.7  323.7  323.7
                          2183.4 1990  310.4  310.4  310.4
                          2187.8 1986  408.9  408.9  408.9
                          2237.4 1993  437.0  437.0  437.0
                          2352.1 1919  170.7  170.7  170.7

[6 rows x 128 columns]

In [19]:
g1 = r.groupby( [ "SUBDIVISION", "YEAR","ANNUAL"] )

In [20]:
g1.describe()

                                        APR                                  \
                                      count   mean std    min    25%    50%
SUBDIVISION               YEAR ANNUAL
ANDAMAN & NICOBAR ISLANDS 1901 3373.2   1.0    2.3 NaN    2.3    2.3    2.3
                          1902 3520.7   1.0    0.0 NaN    0.0    0.0    0.0
                          1903 2957.4   1.0    1.0 NaN    1.0    1.0    1.0
                          1904 3079.6   1.0  202.4 NaN  202.4  202.4  202.4
                          1905 2566.7   1.0   26.9 NaN   26.9   26.9   26.9
                          1906 2534.4   1.0    0.0 NaN    0.0    0.0    0.0
                          1907 3347.9   1.0   21.6 NaN   21.6   21.6   21.6
                          1908 3576.4   1.0   29.0 NaN   29.0   29.0   29.0
                          1910 2899.4   1.0   89.3 NaN   89.3   89.3   89.3
                          1911 2687.2   1.0  122.5 NaN  122.5  122.5  122.5
                          1912 2960.5   1.0   21.9 NaN   21.9   21.9   21.9
                          1913 2365.8   1.0    2.5 NaN    2.5    2.5    2.5
                          1914 2957.8   1.0   37.7 NaN   37.7   37.7   37.7
                          1915 2741.3   1.0   40.9 NaN   40.9   40.9   40.9
                          1916 2937.5   1.0    0.5 NaN    0.5    0.5    0.5
                          1917 2612.4   1.0    4.5 NaN    4.5    4.5    4.5
                          1918 3275.0   1.0   10.7 NaN   10.7   10.7   10.7
                          1919 2352.1   1.0   35.5 NaN   35.5   35.5   35.5
                          1920 2943.2   1.0   13.0 NaN   13.0   13.0   13.0
                          1921 2606.4   1.0   37.5 NaN   37.5   37.5   37.5
                          1922 3554.2   1.0  323.1 NaN  323.1  323.1  323.1
                          1925 2480.5   1.0   50.4 NaN   50.4   50.4   50.4
                          1926 3282.2   1.0    0.5 NaN    0.5    0.5    0.5
                          1927 2442.9   1.0  108.6 NaN  108.6  108.6  108.6
                          1928 2998.3   1.0  129.3 NaN  129.3  129.3  129.3
                          1929 2926.6   1.0   69.8 NaN   69.8   69.8   69.8
                          1930 3075.1   1.0   10.9 NaN   10.9   10.9   10.9
                          1931 2357.7   1.0    2.5 NaN    2.5    2.5    2.5
                          1933 2987.5   1.0   58.4 NaN   58.4   58.4   58.4
                          1934 3722.8   1.0  131.4 NaN  131.4  131.4  131.4
...                                     ...    ...  ..    ...    ...    ...
WEST UTTAR PRADESH        1986 715.2    1.0    3.9 NaN    3.9    3.9    3.9
                          1987 466.8    1.0    1.8 NaN    1.8    1.8    1.8
                          1988 1035.6   1.0    8.0 NaN    8.0    8.0    8.0
                          1989 657.3    1.0    0.0 NaN    0.0    0.0    0.0
                          1990 958.0    1.0    0.7 NaN    0.7    0.7    0.7
                          1991 748.7    1.0    2.9 NaN    2.9    2.9    2.9
                          1992 820.6    1.0    0.3 NaN    0.3    0.3    0.3
                          1993 771.9    1.0    1.0 NaN    1.0    1.0    1.0
                          1994 806.8    1.0   12.4 NaN   12.4   12.4   12.4
                          1995 826.8    1.0    3.7 NaN    3.7    3.7    3.7
                          1996 941.2    1.0    0.4 NaN    0.4    0.4    0.4
                          1997 445.2    1.0   19.2 NaN   19.2   19.2   19.2
                          1998 867.2    1.0    9.0 NaN    9.0    9.0    9.0
                          1999 786.4    1.0    0.0 NaN    0.0    0.0    0.0
                          2000 771.4    1.0    2.1 NaN    2.1    2.1    2.1
                          2001 661.7    1.0   12.0 NaN   12.0   12.0   12.0
                          2002 625.2    1.0    0.7 NaN    0.7    0.7    0.7
                          2003 1047.5   1.0    4.4 NaN    4.4    4.4    4.4
                          2004 642.3    1.0   20.0 NaN   20.0   20.0   20.0
                          2005 725.7    1.0    1.2 NaN    1.2    1.2    1.2
                          2006 529.3    1.0    4.0 NaN    4.0    4.0    4.0
                          2007 572.5    1.0    0.9 NaN    0.9    0.9    0.9
                          2008 799.8    1.0    4.0 NaN    4.0    4.0    4.0
                          2009 549.2    1.0    8.7 NaN    8.7    8.7    8.7
                          2010 820.7    1.0    0.4 NaN    0.4    0.4    0.4
                          2011 777.4    1.0    2.8 NaN    2.8    2.8    2.8
                          2012 389.6    1.0    4.7 NaN    4.7    4.7    4.7
                          2013 932.8    1.0    1.6 NaN    1.6    1.6    1.6
                          2014 486.9    1.0    5.3 NaN    5.3    5.3    5.3
                          2015 582.7    1.0   21.0 NaN   21.0   21.0   21.0

                                                      AUG         ...    \
                                         75%    max count   mean  ...
SUBDIVISION               YEAR ANNUAL                             ...
ANDAMAN & NICOBAR ISLANDS 1901 3373.2    2.3    2.3   1.0  481.1  ...
                          1902 3520.7    0.0    0.0   1.0  753.7  ...
                          1903 2957.4    1.0    1.0   1.0  326.7  ...
                          1904 3079.6  202.4  202.4   1.0  160.1  ...
                          1905 2566.7   26.9   26.9   1.0  330.5  ...
                          1906 2534.4    0.0    0.0   1.0  320.5  ...
                          1907 3347.9   21.6   21.6   1.0  377.6  ...
                          1908 3576.4   29.0   29.0   1.0  699.9  ...
                          1910 2899.4   89.3   89.3   1.0  337.4  ...
                          1911 2687.2  122.5  122.5   1.0  187.1  ...
                          1912 2960.5   21.9   21.9   1.0  370.3  ...
                          1913 2365.8    2.5    2.5   1.0  205.8  ...
                          1914 2957.8   37.7   37.7   1.0  520.5  ...
                          1915 2741.3   40.9   40.9   1.0  317.2  ...
                          1916 2937.5    0.5    0.5   1.0  425.0  ...
                          1917 2612.4    4.5    4.5   1.0  437.4  ...
                          1918 3275.0   10.7   10.7   1.0  455.4  ...
                          1919 2352.1   35.5   35.5   1.0  259.8  ...
                          1920 2943.2   13.0   13.0   1.0  467.4  ...
                          1921 2606.4   37.5   37.5   1.0  330.0  ...
                          1922 3554.2  323.1  323.1   1.0  307.4  ...
                          1925 2480.5   50.4   50.4   1.0  278.2  ...
                          1926 3282.2    0.5    0.5   1.0  523.7  ...
                          1927 2442.9  108.6  108.6   1.0  370.1  ...
                          1928 2998.3  129.3  129.3   1.0  391.5  ...
                          1929 2926.6   69.8   69.8   1.0  644.7  ...
                          1930 3075.1   10.9   10.9   1.0  446.7  ...
                          1931 2357.7    2.5    2.5   1.0  571.0  ...
                          1933 2987.5   58.4   58.4   1.0  294.1  ...
                          1934 3722.8  131.4  131.4   1.0  924.9  ...
...                                      ...    ...   ...    ...  ...
WEST UTTAR PRADESH        1986 715.2     3.9    3.9   1.0  181.0  ...
                          1987 466.8     1.8    1.8   1.0  124.2  ...
                          1988 1035.6    8.0    8.0   1.0  412.7  ...
                          1989 657.3     0.0    0.0   1.0  222.0  ...
                          1990 958.0     0.7    0.7   1.0  195.9  ...
                          1991 748.7     2.9    2.9   1.0  406.2  ...
                          1992 820.6     0.3    0.3   1.0  306.1  ...
                          1993 771.9     1.0    1.0   1.0  136.9  ...
                          1994 806.8    12.4   12.4   1.0  290.2  ...
                          1995 826.8     3.7    3.7   1.0  389.2  ...
                          1996 941.2     0.4    0.4   1.0  350.4  ...
                          1997 445.2    19.2   19.2   1.0   34.6  ...
                          1998 867.2     9.0    9.0   1.0  343.7  ...
                          1999 786.4     0.0    0.0   1.0  180.5  ...
                          2000 771.4     2.1    2.1   1.0  238.9  ...
                          2001 661.7    12.0   12.0   1.0  122.1  ...
                          2002 625.2     0.7    0.7   1.0  252.3  ...
                          2003 1047.5    4.4    4.4   1.0  214.2  ...
                          2004 642.3    20.0   20.0   1.0  250.5  ...
                          2005 725.7     1.2    1.2   1.0   96.0  ...
                          2006 529.3     4.0    4.0   1.0   78.1  ...
                          2007 572.5     0.9    0.9   1.0  152.2  ...
                          2008 799.8     4.0    4.0   1.0  217.4  ...
                          2009 549.2     8.7    8.7   1.0  184.5  ...
                          2010 820.7     0.4    0.4   1.0  213.8  ...
                          2011 777.4     2.8    2.8   1.0  232.3  ...
                          2012 389.6     4.7    4.7   1.0  149.1  ...
                          2013 932.8     1.6    1.6   1.0  287.1  ...
                          2014 486.9     5.3    5.3   1.0   81.0  ...
                          2015 582.7    21.0   21.0   1.0  143.5  ...

                                      Oct-Dec           SEP                    \
                                          75%     max count   mean std    min
SUBDIVISION               YEAR ANNUAL
ANDAMAN & NICOBAR ISLANDS 1901 3373.2   980.3   980.3   1.0  332.6 NaN  332.6
                          1902 3520.7   716.7   716.7   1.0  666.2 NaN  666.2
                          1903 2957.4   690.6   690.6   1.0  339.0 NaN  339.0
                          1904 3079.6   571.0   571.0   1.0  820.4 NaN  820.4
                          1905 2566.7   630.8   630.8   1.0  297.0 NaN  297.0
                          1906 2534.4   475.9   475.9   1.0  164.3 NaN  164.3
                          1907 3347.9  1158.9  1158.9   1.0  200.4 NaN  200.4
                          1908 3576.4   575.7   575.7   1.0  428.8 NaN  428.8
                          1910 2899.4   629.0   629.0   1.0  626.6 NaN  626.6
                          1911 2687.2   675.4   675.4   1.0  464.5 NaN  464.5
                          1912 2960.5   438.2   438.2   1.0  386.2 NaN  386.2
                          1913 2365.8   489.3   489.3   1.0  580.1 NaN  580.1
                          1914 2957.8   613.9   613.9   1.0  310.8 NaN  310.8
                          1915 2741.3  1044.5  1044.5   1.0  429.8 NaN  429.8
                          1916 2937.5   696.0   696.0   1.0  561.2 NaN  561.2
                          1917 2612.4   583.3   583.3   1.0  471.8 NaN  471.8
                          1918 3275.0   768.9   768.9   1.0  303.3 NaN  303.3
                          1919 2352.1   785.0   785.0   1.0  170.7 NaN  170.7
                          1920 2943.2   745.9   745.9   1.0  505.4 NaN  505.4
                          1921 2606.4   520.4   520.4   1.0  581.2 NaN  581.2
                          1922 3554.2   895.2   895.2   1.0  511.7 NaN  511.7
                          1925 2480.5   717.0   717.0   1.0  201.9 NaN  201.9
                          1926 3282.2  1152.9  1152.9   1.0  719.3 NaN  719.3
                          1927 2442.9   667.1   667.1   1.0  126.2 NaN  126.2
                          1928 2998.3   557.5   557.5   1.0  404.8 NaN  404.8
                          1929 2926.6   678.0   678.0   1.0  172.9 NaN  172.9
                          1930 3075.1   533.3   533.3   1.0  677.2 NaN  677.2
                          1931 2357.7   573.8   573.8   1.0  294.4 NaN  294.4
                          1933 2987.5   565.5   565.5   1.0  759.0 NaN  759.0
                          1934 3722.8   624.4   624.4   1.0  761.1 NaN  761.1
...                                       ...     ...   ...    ...  ..    ...
WEST UTTAR PRADESH        1986 715.2     30.1    30.1   1.0  105.5 NaN  105.5
                          1987 466.8     38.1    38.1   1.0   92.4 NaN   92.4
                          1988 1035.6    24.0    24.0   1.0  139.6 NaN  139.6
                          1989 657.3     18.4    18.4   1.0  153.6 NaN  153.6
                          1990 958.0     24.5    24.5   1.0  250.4 NaN  250.4
                          1991 748.7     29.6    29.6   1.0  124.7 NaN  124.7
                          1992 820.6     76.3    76.3   1.0  179.4 NaN  179.4
                          1993 771.9     15.1    15.1   1.0  326.8 NaN  326.8
                          1994 806.8      0.2     0.2   1.0   19.7 NaN   19.7
                          1995 826.8      2.2     2.2   1.0  122.1 NaN  122.1
                          1996 941.2     36.2    36.2   1.0  170.7 NaN  170.7
                          1997 445.2     22.1    22.1   1.0   24.0 NaN   24.0
                          1998 867.2     40.2    40.2   1.0   84.2 NaN   84.2
                          1999 786.4     34.2    34.2   1.0  261.6 NaN  261.6
                          2000 771.4      0.1     0.1   1.0   79.1 NaN   79.1
                          2001 661.7     17.6    17.6   1.0   26.7 NaN   26.7
                          2002 625.2     17.6    17.6   1.0  218.1 NaN  218.1
                          2003 1047.5    15.1    15.1   1.0  356.6 NaN  356.6
                          2004 642.3     61.4    61.4   1.0   84.0 NaN   84.0
                          2005 725.7      3.1     3.1   1.0  202.5 NaN  202.5
                          2006 529.3     18.4    18.4   1.0   65.7 NaN   65.7
                          2007 572.5      3.2     3.2   1.0   57.0 NaN   57.0
                          2008 799.8      9.1     9.1   1.0   90.9 NaN   90.9
                          2009 549.2     76.0    76.0   1.0  125.4 NaN  125.4
                          2010 820.7     21.6    21.6   1.0  263.9 NaN  263.9
                          2011 777.4      2.7     2.7   1.0  101.7 NaN  101.7
                          2012 389.6      2.7     2.7   1.0   67.8 NaN   67.8
                          2013 932.8     71.8    71.8   1.0   52.2 NaN   52.2
                          2014 486.9     30.8    30.8   1.0   84.7 NaN   84.7
                          2015 582.7     11.9    11.9   1.0   26.5 NaN   26.5


                                         25%    50%    75%    max
SUBDIVISION               YEAR ANNUAL
ANDAMAN & NICOBAR ISLANDS 1901 3373.2  332.6  332.6  332.6  332.6
                          1902 3520.7  666.2  666.2  666.2  666.2
                          1903 2957.4  339.0  339.0  339.0  339.0
                          1904 3079.6  820.4  820.4  820.4  820.4
                          1905 2566.7  297.0  297.0  297.0  297.0
                          1906 2534.4  164.3  164.3  164.3  164.3
                          1907 3347.9  200.4  200.4  200.4  200.4
                          1908 3576.4  428.8  428.8  428.8  428.8
                          1910 2899.4  626.6  626.6  626.6  626.6
                          1911 2687.2  464.5  464.5  464.5  464.5
                          1912 2960.5  386.2  386.2  386.2  386.2
                          1913 2365.8  580.1  580.1  580.1  580.1
                          1914 2957.8  310.8  310.8  310.8  310.8
                          1915 2741.3  429.8  429.8  429.8  429.8
                          1916 2937.5  561.2  561.2  561.2  561.2
                          1917 2612.4  471.8  471.8  471.8  471.8
                          1918 3275.0  303.3  303.3  303.3  303.3
                          1919 2352.1  170.7  170.7  170.7  170.7
                          1920 2943.2  505.4  505.4  505.4  505.4
                          1921 2606.4  581.2  581.2  581.2  581.2
                          1922 3554.2  511.7  511.7  511.7  511.7
                          1925 2480.5  201.9  201.9  201.9  201.9
                          1926 3282.2  719.3  719.3  719.3  719.3
                          1927 2442.9  126.2  126.2  126.2  126.2
                          1928 2998.3  404.8  404.8  404.8  404.8
                          1929 2926.6  172.9  172.9  172.9  172.9
                          1930 3075.1  677.2  677.2  677.2  677.2
                          1931 2357.7  294.4  294.4  294.4  294.4
                          1933 2987.5  759.0  759.0  759.0  759.0
                          1934 3722.8  761.1  761.1  761.1  761.1
...                                      ...    ...    ...    ...
WEST UTTAR PRADESH        1986 715.2   105.5  105.5  105.5  105.5
                          1987 466.8    92.4   92.4   92.4   92.4
                          1988 1035.6  139.6  139.6  139.6  139.6
                          1989 657.3   153.6  153.6  153.6  153.6
                          1990 958.0   250.4  250.4  250.4  250.4
                          1991 748.7   124.7  124.7  124.7  124.7
                          1992 820.6   179.4  179.4  179.4  179.4
                          1993 771.9   326.8  326.8  326.8  326.8
                          1994 806.8    19.7   19.7   19.7   19.7
                          1995 826.8   122.1  122.1  122.1  122.1
                          1996 941.2   170.7  170.7  170.7  170.7
                          1997 445.2    24.0   24.0   24.0   24.0
                          1998 867.2    84.2   84.2   84.2   84.2
                          1999 786.4   261.6  261.6  261.6  261.6
                          2000 771.4    79.1   79.1   79.1   79.1
                          2001 661.7    26.7   26.7   26.7   26.7
                          2002 625.2   218.1  218.1  218.1  218.1
                          2003 1047.5  356.6  356.6  356.6  356.6
                          2004 642.3    84.0   84.0   84.0   84.0
                          2005 725.7   202.5  202.5  202.5  202.5
                          2006 529.3    65.7   65.7   65.7   65.7
                          2007 572.5    57.0   57.0   57.0   57.0
                          2008 799.8    90.9   90.9   90.9   90.9
                          2009 549.2   125.4  125.4  125.4  125.4
                          2010 820.7   263.9  263.9  263.9  263.9
                          2011 777.4   101.7  101.7  101.7  101.7
                          2012 389.6    67.8   67.8   67.8   67.8
                          2013 932.8    52.2   52.2   52.2   52.2
                          2014 486.9    84.7   84.7   84.7   84.7
                          2015 582.7    26.5   26.5   26.5   26.5

[4090 rows x 128 columns]

In [21]:
print(type(g1))

<class 'pandas.core.groupby.DataFrameGroupBy'>

In [22]:
#convert grouped data to dataframe

In [23]:
g2=r.groupby( [  "SUBDIVISION", "YEAR","ANNUAL"] ).size().to_frame(name = 'count').reset_index()

In [24]:
g2.head(11)

                  SUBDIVISION  YEAR  ANNUAL  count
0   ANDAMAN & NICOBAR ISLANDS  1901  3373.2      1
1   ANDAMAN & NICOBAR ISLANDS  1902  3520.7      1
2   ANDAMAN & NICOBAR ISLANDS  1903  2957.4      1
3   ANDAMAN & NICOBAR ISLANDS  1904  3079.6      1
4   ANDAMAN & NICOBAR ISLANDS  1905  2566.7      1
5   ANDAMAN & NICOBAR ISLANDS  1906  2534.4      1
6   ANDAMAN & NICOBAR ISLANDS  1907  3347.9      1
7   ANDAMAN & NICOBAR ISLANDS  1908  3576.4      1
8   ANDAMAN & NICOBAR ISLANDS  1910  2899.4      1
9   ANDAMAN & NICOBAR ISLANDS  1911  2687.2      1
10  ANDAMAN & NICOBAR ISLANDS  1912  2960.5      1