# Transformation de données - Anonymisation

Note importante:  Cest la elimination fisique, pas de cacher les donnes.

Exercice 1 :
En considérant le fichier data_patient.csv, procéder à la suppression de l’attribut PATIENT.

In [23]:
import pandas as pd


df1 = pd.read_csv("data_patient.csv")
pd.options.display.max_columns = None
df1.head(10)

            patient reactif  resultat
0    Alain flouflou       A        79
1   Abdel flouclair       A        81
2  Annie clairclair       B        47

In [24]:
#delete a column
df_sortie = df1.drop("patient", axis=1)
df_sortie

  reactif  resultat
0       A        79
1       A        81
2       B        47

Exercice 2 :
En considérant le fichier adresse_patient.csv, procéder à la suppression de l’enregistrement dont le patient_ID est 83.

In [30]:
df2 = pd.read_csv("adresse_patient.csv")
pd.options.display.max_columns = None
df2.head(10)

   patient id    age            adresse
0          45  21-35        rue du parc
1          83  40-60  rue des templiers
2         121  36-39      rue de minuit

In [34]:
df_sortie = df2.drop(df2[ df2['patient id'] == 83].index)
df_sortie

   patient id    age        adresse
0          45  21-35    rue du parc
2         121  36-39  rue de minuit

Exercice 3 :
En considérant le fichier data_livraison.csv, procéder au maskage de l’attribut code_postal. Le format en sortie serait de la forme : ZY* ***   où ZY sont les deux premiers digits du code postal original.

In [35]:
df3 = pd.read_csv("data_livraison.csv")
pd.options.display.max_columns = None
df3.head(10)

  code postal periode livraison  nombre colis
0     H1X 3S7           10H-12H             3
1     H2Y 4O3           12H-17H             4
2     H1W 5P5           17H-20H             1