<h1>Tables des matières<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [126]:
import pandas as pd
df = pd.read_csv("data_patient_age_anonyme.csv")
df

            patient    age reactif  resultat
0    Alain flouflou  20-30       A        79
1   Abdel flouclair  31-40       A        81
2  Annie clairclair  41-50       B        47

In [127]:
df["resultat"] =df["resultat"].sample(frac=1).reset_index(drop=True)
df

            patient    age reactif  resultat
0    Alain flouflou  20-30       A        81
1   Abdel flouclair  31-40       A        79
2  Annie clairclair  41-50       B        47

In [128]:
#anonymiser en effectuant un merge avec une suppression de la serie resultat
res = df.drop('resultat', axis=1)
res

            patient    age reactif
0    Alain flouflou  20-30       A
1   Abdel flouclair  31-40       A
2  Annie clairclair  41-50       B

In [129]:
#renommer la serie re vers resultat
res = res.rename(columns={'re': 'resultat'})
res

            patient    age reactif
0    Alain flouflou  20-30       A
1   Abdel flouclair  31-40       A
2  Annie clairclair  41-50       B

In [130]:
#sauvegarder le data transformé
res.to_csv("data_patient_resultat_anonyme.csv", index=False)